<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'ProjectDashboard/question_header.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'ProjectDashboard/question.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'ProjectDashboard/leaderboard.css' %}" /> -->
</head>

<body>
    {% include "Dashboard/question_header.html" %}
    <div class="container">
        <div class="mag"></div>
        <div class="header">
            <center>Answer</center>
        </div>
        <div class="text">
            <br/>
            <p>
                <pre><code style="font-size : 15px">{{ answer|safe }}</code></pre>
            </p>
        </div>
        <br />
        <div class="text">
            Because you viewed the answer the points will not not be provided for this question
        </div>
    </div>
    <script src="{% static 'ProjectDashboard/jquery/aui-min.js' %}"></script>
    <script src="{% static 'ProjectDashboard/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ProjectDashboard/question.js' %}"></script>
</body>

</html>